<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daily_panel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='progress-bar.css') }}">

<body>
<div class="stepper-wrapper">
      {% for completed in completed_hours %}
        <div class="stepper-item completed">
            <div class="step-counter">{{completed}}</div>
        </div>
    {% endfor %}

    <div class="stepper-item active">
        <div class="step-counter">{{hour}}</div>
    </div>

    {% for left in hours_left %}
        <div class="stepper-item">
            <div class="step-counter">{{left}}</div>
        </div>
    {% endfor %}

</div>


<div>
    <div class="image-container">
        <img src="data:;base64,{{ daily_plot }}"/>
        <img src="data:;base64,{{ hourly_plot }}"/>
    </div>
</div>

<div class="down">
    <div class="title">
        Data for {{user}} from {{date_to_print}}
    </div>
    <div class="buttons">
        <form action="{{ url_for('rate', user=user, date=date, active_hour=active_hours, rate=0, judge=judge, last=last)}}" method=post>
            <input class='submitok' type=submit value="OK" name='action'>
        </form>
        <form action="{{ url_for('rate', user=user, date=date, active_hour=active_hours, rate=1, judge=judge, last=last)}}" method=post>
            <input class='submitan' type=submit value="ANOMALY" name='action'>
        </form>
        <form action="{{ url_for('rate', user=user, date=date, active_hour=active_hours, rate=2, judge=judge, last=last)}}" method=post>
            <input class='submitme' type=submit value="MESSY" name='action'>
        </form>
    </div>
</div>

</body>
</html>
