<!DOCTYPE html>
<html>
<head>
    <title>Display Image</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<!-- Dropdown -->
<div class="form-group">
<!--    TODO CHANGE CALLING THAT PAGE-->
    <form method="post" action="{{ url_for('bla2', user=user, date=date, judge=judge)}}">
        <label for="user">Select user:</label>
        <select id="user" name="user">
            <option value="">Select user</option>
            {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
</div>

</body>
</html>
