 .image-container {
     margin:auto;
     justify-content: space-around;
     display: flex;
     width: 80%;
     height:400px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px; /* Add some margin for spacing */
}

.title {
    padding: 10px;
    font-family: "Trebuchet MS", sans-serif;
    color: #212121;
    width: 40%;
    margin: auto;
    font-size: 20px;

}

.down {
    display: flex;
    margin:auto;

    align-items: center;
}

.buttons {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.submitok {
   cursor: pointer;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 20px;
   background-color: #FFFFFF;
   border-radius: 20px;
   border: 2px solid #4CAF50;
   padding 5px;
 }

 .submitok:hover {
  background-color:#4CAF50;
  color: white;
  border-radius: 20px;
}

.submitan {
   cursor: pointer;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 20px;
   background-color: #FFFFFF;
   border-radius: 20px;
   border: 2px solid #F21A1A;
   padding 5px;
 }

 .submitan:hover {
  background-color:#F21A1A;
  color: white;
  border-radius: 20px;
}


.submitme {
   cursor: pointer;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 20px;
   background-color: #FFFFFF;
   border-radius: 20px;
   border: 2px solid #212121;
   padding 5px;
 }

 .submitme:hover {
  color: white;
  background-color: #212121;
  border-radius: 20px;
  }