h1 {
    margin-left:20px;
    margin-top:20px;
    font-family: "Trebuchet MS", sans-serif;
    color:#4CAF50;
}

.green{
color:#4CAF50;
}

hr.new1 {
  border-top: 2px solid #4CAF50;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

}

.judge_text {
    display:flex;
    width: 90%;
    margin-left:20px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
    text-align: left;
    context-justify: left;
}

.web_page_bar {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin: 20px;
}

.web_page_bar_li {
    float: right;
}

.material-symbols-outlined {
     transform: scale(2);
     color:#4CAF50;
     padding-right:20px;
}

.web_page_bar_li  .web_page_bar_a {
    display: block;
    color: #212121;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    ont-size: 30px;
}

.web_page_bar_li  .web_page_bar_a:hover {
    background-color:#4CAF50;
    color: white;
    border-radius: 20px;
}

table {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:40px;
    margin-right:20px;
    padding: 20px;
    width: 90%;
    border-spacing: 0 20px;
}

.tr {
    color: #212121;
    font-family: "Trebuchet MS", sans-serif;
    text-align: left;
    padding: 40px;
    text-decoration: none;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.td {
    width: 60%;
    padding: 40px;
}

.td_a {
    font-family: "Trebuchet MS", sans-serif;
    text-align: left;
    padding: 40px;
    text-decoration: none;
    font-size: 30px;
    color: #212121;
    text-align: justify;
    text-justify: inter-word;
}
img {
    height: 10vh;
}
.td_image {
    width: 10%;
    height: 10vh;
}

.addAttraction {
    color: #4CAF50;
    font-family: "Trebuchet MS", sans-serif;
    text-align: left;
    margin-left: 78%;
    text-decoration: none;
    font-size: 30px;
}

.header_table {
   width: 100%;
   margin-top: auto;
   margin-bottom: auto;
   color: #212121;
   font-family: "Trebuchet MS", sans-serif;
   text-align: left;
   text-decoration: none;
   font-size: 30px;
   font-weight: bold;
}

.header_row {
   content-justify: between;
}

.th_header {
   padding-left: 40px;
}